*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-style{
    background-color: rgb(146, 215, 228);
    color: white;
    padding: 2rem 3rem;
    border-radius: 30px;
}

.card-style:hover {
  background-color: #5daee7; /* Change color on hover */
  transform: perspective(500px) scale(1.05);
}

.card-located{
    width: 90vw;
    max-width: 1200px;
    margin: 3rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:768px) {
  .card-located{
      grid-template-columns: repeat(3,1fr);
  }
  
}

.cool-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #637988;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
  }
.cool-button:hover {
    background-color: #33e539;
    transform: translateY(-8px);
  }

  img{
    border-radius: 30px;
  }

  

  